@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.conheca_meus_servicos_section{
    padding-top: 2%;
    background-color:#D5B8E71A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4.97%;
}

.conheca_meus_servicos_textos h1{
    color: #D087BE;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 2.25em;
    font-weight: 700;
    padding-bottom:3%;
}

.texto_p{
    width: 860px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #503E4B;
    text-align: center;
    padding-bottom: 3%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.conheca_meus_servicos_link{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas com larguras iguais */
    gap: 3%; /* Espaço entre os itens */
    row-gap: 25%;
    justify-content: center; /* Centraliza o grid horizontalmente */
    align-items: start; /* Alinha os itens ao topo */
    grid-auto-rows: minmax(80%, auto); 

    padding-bottom: 10%;
}

.conheca_meus_servicos_link a{
    text-decoration: none;
    color: #D087BE;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #00000030; /* Sombra */
    border-radius: calc(1rem + 0.5vmin); /* Bordas arredondadas */
    
    display: flex; /* Flex para centralizar conteúdo dentro do link */
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    text-align: center; /* Garante que o texto esteja centralizado */
    height: 100%; /* Faz com que todos os itens ocupem a mesma altura */
}


/*RESPONSIVIDADE*/

@media (max-width: 1150px) {
    
    .conheca_meus_servicos_textos h1{
        font-size: 2em;
        padding-bottom:2%;
    }
    
    .texto_p{
        padding-bottom: 2%;
        font-size: 0.9em;   
        width: 60%;
        margin: 0 auto;

    }
    
    .conheca_meus_servicos_link{
        gap: 2%; /* Espaço entre os itens */
        row-gap: 10%;
        padding-bottom: 8%;
    }
    
    .conheca_meus_servicos_link a{
        font-size: 1.2em;

    }
  }


@media (max-width: 750px) {

    .conheca_meus_servicos_textos h1{
        font-size: 2em;
        padding-bottom:2%;
    }
    
    .texto_p{
        padding-bottom: 1.8%;
        font-size: 0.8em;   
        width: 75%;
        margin: 0 auto;

    }
    
    .conheca_meus_servicos_link{
        gap: 1%; /* Espaço entre os itens */
        row-gap: 8%;
        padding-bottom: 7%;
    }
    
    .conheca_meus_servicos_link a{
        font-size: 0.8em;
    }
}