@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin:0;
    padding: 0;
}

.form_section{
    display: flex;
    flex-direction: column;
    margin-left: 15%
}

.form_section h1{
    font-family: "Open Sans", sans-serif;
    font-size: 2.25em;
    font-weight: 700;
    color: #503E4B;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 95%;
    margin-top: 4%;
    padding: 3%;
    background-color: #F0E3ED;
    border-radius: calc(1rem + 0.2vmin);
    box-shadow: none;
    border: none;

    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #503E4B;
}

::placeholder{
    color: #8F7C8B;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 700;
}

button {
    width: 30%;
    margin-top: 4%;
    padding: 3%;
    align-self: self-end;
    margin-right: 3%;

    background-color: #A17AB9EB;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: calc(1rem + 0.2vmin);
    cursor: pointer;
    transition: color 500ms linear, transform 500ms ease;
}

button:hover{
    transform: scale(1.1);
}

.success-message {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 700;
    color:#8F7C8B ;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
  }


/*RESPONSIVIDADE*/

@media (max-width: 1150px) {
  
    .form_section{
        margin-left: 8%
    }
    
    .form_section h1{
        font-size: 2em;

    }
    
    
    input, textarea {
        font-size: 0.9em;
    }
    
    ::placeholder{
        color: #8F7C8B;
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        font-weight: 700;
    }

   
  }


  
  @media (max-width: 950px) {
  
    .form_section{
        margin-left: 0;
        display: flex; /* Flexbox para centralizar */
        justify-content: center; /* Centraliza o iframe horizontalmente */
        align-items: center;
    }

    
    .form_section h1{
        font-size: 1.8em;
    }

    form {
        width: 60%;
    }
    
    input, textarea {
        width: 100%;
        font-size: 0.9em;
    }
    
    ::placeholder{
        font-size: 0.9em;
    }
    
    button {
        width: 30%;
        margin-top: 4%;
        padding: 3%;
        align-self: self-end;
        margin-right: 3%;
    
        font-size: 0.9em;

    }
    
  }

  @media (max-width: 750px) {


    
    .form_section h1{
        font-size: 1.6em;
    }

    form {
        width: 50%;
    }
    
    input, textarea {
        width: 100%;
        font-size: 0.8em;
    }
    
    ::placeholder{
        font-size: 0.8em;
    }
    
    button {
        width: 25%;
        margin-top: 4%;
        padding: 3%;
        align-self: self-end;
        margin-right: 1%;
        font-size: 0.8em;
    }
    
  }



