@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    box-sizing: border-box;
   
}

.logo {
    width: 8.75vh;
    height: 8.80vh;
    margin-left: 30vw;
    margin-top: 10.35vh;
}

nav{
    margin-left: 30vh;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1.43vh;
    width: 100%;  /* Garante que o menu ocupe toda a largura disponível */
}

.menu li {
    list-style: none;
    margin-top: 10.35vh;
}

.menu li a {
    text-decoration: none;
    padding: 2.87vh;
    margin: 1.43vh;
    color: #D087BE;
    cursor: pointer;
    transition: color 500ms linear, transform 500ms ease;
    font-family: "Open Sans", sans-serif;
    font-size: 2.58vh;
    font-weight: 600;
}

.menu li a:hover {
    color: #00679E;
    transform: scale(1.2);
}
