@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    box-sizing: border-box;
    position: fixed;
    transition: background-color 0.3s ease; /* Transição suave */
}

.header_section.scrolled {
    background-color: #ffffffE6; /* Cor específica desejada */
  }

.logo {
    width: 8.75vh;
    height: 8.80vh;
    margin-left: 30vw;
    margin-top: 10.35vh;
}

.nav_menu_list{
    margin-left: 30vh;
}

.menu_list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.43vh;
    width: 100%;  /* Garante que o menu ocupe toda a largura disponível */
}

.menu_list li {
    list-style: none;
    margin-top: 10.35vh;
}

.menu_list li a {
    text-decoration: none;
    padding: 2.87vh;
    margin: 1.43vh;
    color: #D087BE;
    cursor: pointer;
    transition: color 500ms linear, transform 500ms ease;
    font-family: "Open Sans", sans-serif;
    font-size: 2.58vh;
    font-weight: 600;
}

.menu_list li a:hover {
    color: #00679E;
    transform: scale(1.2);
}

/* Estilos para o hambúrguer */
.hamburger {
    display: none; /* Esconder por padrão */
    cursor: pointer;
    position: absolute; /* Posicionamento absoluto em relação ao elemento pai */
    right: 20%; /* Ajuste automático à direita */
    top: 50%; /* Alinha verticalmente com a logo */
    transform: translateY(-50%); /* Centraliza verticalmente */
    width: 40px;
    height: 40px;
}

/* Estilos gerais para o menu hambúrguer */
.hamburger {
    position: relative;
    width: 40px;  /* Largura do hambúrguer (ajustável conforme o tamanho desejado) */
    height: 40px; /* Altura do hambúrguer (ajustável conforme o tamanho desejado) */

}

/* Estilos para as linhas do hambúrguer */
.hamburger {
    display: none; /* Esconde o hambúrguer por padrão */
    cursor: pointer;
    position: absolute; /* Posiciona o hambúrguer em relação ao elemento pai */
    right: 80px; /* Ajuste automático à direita */
    top: 40%; /* Alinha verticalmente com a logo */
    transform: translateY(-50%); /* Centraliza verticalmente */
    width: 40px;
    height: 40px;
}

/* Estilos quando o menu está aberto */
.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0; /* Oculta a segunda linha */
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hamburger.active span:nth-child(4) {
    opacity: 1; /* A quarta linha será visível */
    transform: translateY(-8px) rotate(45deg);
}


  


/*RESPONSIVIDADE*/


@media (max-width: 1150px) {

    .header_section{
        position: relative;
    }

    .logo {
        margin-left: 20vw;
    }
}

@media (max-width: 910px) {

    .header_section{
        position: relative;
    }

    .menu_list {
        gap: 0vh;
    }

    .menu_list li a {
        padding: 1.5vh;
        
        font-size: 2.58vh;
        font-weight: 600;
    }

    .logo {
        margin-left: 15vw;
    }

}


@media (max-width: 750px) {

    .header_section{
        position: relative; 
    }

    .nav_menu_list{
        margin-left: 10vh;
        display: none;
        
    }

     /* Quando o hambúrguer for clicado, exibe o menu */
     .nav_menu_list.active {
        display: block; /* Exibe o menu */
        display: flex;  /* Usa flexbox */
        flex-direction: column; /* Alinha os itens do menu em coluna */
        align-items: center; /* Centraliza os itens na coluna */
        position: fixed; 
        top: 120px; /* Ajuste a posição do menu (em relação ao topo da página ou à logo) */
        right: 56px; /* Faz com que o menu apareça à direita */
        width: 100px; /* Largura total */
        background-color: white; /* Fundo branco para o menu */
        border-radius: calc(1rem + 0.2vmin);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        z-index: 2;
    }

    .menu_list {
        display: flex; /* Flexbox */
        flex-direction: column; /* Organiza os itens em coluna */
        align-items: center; /* Centraliza os itens */
        width: 100%; /* Garante que o menu ocupe toda a largura disponível */
        padding: 0;
    }
    
    .menu_list li {
        list-style: none; /* Remove o marcador */
        width: 100%; /* Garante que cada item ocupe toda a largura disponível */
        margin: 5px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .menu_list li a {
        text-decoration: none;
        padding: 2vh;
        margin: 1vh;
        color: #D087BE;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-size: 2vh;
        font-weight: 600;
        display: block; /* Faz com que o link ocupe toda a largura do `li` */
        text-align: center; /* Centraliza o texto do link */
        transition: color 500ms linear, transform 500ms ease;

    }
    
    .menu_list li a:hover {
        color: #00679E;
        transform: scale(1.2);
    }

    /* Esconde a logo quando o menu estiver aberto */

    .menu_list li a {
        
        font-size: 0.8em;
        font-weight: 600;
    }

    .logo {
        width: 6.75vh;
        height: 6.80vh;
        margin-left: 15vw;
        margin-top: 5.35vh;
    }


    .hamburger {
        display: block;
        position: fixed;
        top: 38px;
      }
    
      .logo-link {
        display: none; /* Esconder a logo em telas menores */
      }

}





