@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
    justify-items: start;
}

img{
    width: 60.82px;
    height: 61.17px;
    margin-left: 480px;
    margin-top: 72px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu li{
    list-style: none;
    margin-top: 72px;
}

.menu li a{
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    color: #D087BE;
    cursor: pointer;
    transition: color 500ms linear, transform 500ms ease;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.menu li a:hover{
    color: #00679E;
    transform: scale(1.2);
}