@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
}

.localizacao_section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #D5B8E71A;
}

.localizacao{
    margin-left: 17.74%;
}

.localizacao h1{
    font-family: "Open Sans", sans-serif;
    font-size: 2.25em;
    font-weight: 700;
    color: #503E4B;
}

.localizacao iframe{
    width: 100%;
    height: 80%;
    box-shadow: 0px 0px 10px #00000030; /* Sombra */
    border-radius: calc(1rem + 0.5vmin);
    margin-top: 5%;
}


/*RESPONSIVIDADE*/

@media (max-width: 1150px) {
  
    .localizacao h1{
        font-size: 2em;    
    }
    
    .localizacao iframe{
        width: 90%;
        height: 70%;
    }
   
  }

  @media (max-width: 950px) {
  
    .localizacao_section{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    
    .localizacao{
        margin-left: 0;
        display: flex; /* Flexbox para centralizar */
        justify-content: center; /* Centraliza o iframe horizontalmente */
        align-items: center;
        flex-direction: column;
    }

    .localizacao h1{
        font-size: 2em;
    }
    
    .localizacao iframe{
        width: 70%;
        height: 40vw;
        margin-top: 5%;
        margin-bottom: 5%;

    }
  }
  
  
  @media (max-width: 750px) {
  
    .localizacao h1{
        font-size: 1.8em;
    }
    
    .localizacao iframe{
        width: 90%;
        height: 35vw;
        margin-top: 5%;
        margin-bottom: 5%;

    }
  }